@import '../styles/common.css';


body {
    background-color: var(--background-color);
    color: var(--gray_100);
    display: flex;
    flex-direction: column;
}

.login-container {
    background-color: var(--gray_600);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
}

.login-container h4 {
    margin-bottom: 1rem;
    text-align: center;
}

.controls {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: var(--gray_500);
    border-radius: 0.25rem;
    color: var(--gray_100);
}

.primary_button {
    background-color: var(--primary-500);
    color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    margin-top: 1rem;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.primary_button:hover {
    background-image: linear-gradient(120deg, var(--primary-700), var(--primary-600));
}



/* Responsive Design */
@media (max-width: 768px) {
    .login-container {
        padding: 1.5rem;
    }

    .controls {
        padding: 0.4rem;
    }

    .primary_button {
        padding: 0.4rem 0.8rem;
    }

    .login-container h4 {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .login-container {
        padding: 1rem;
    }

    .controls {
        padding: 0.3rem;
    }

    .primary_button {
        padding: 0.3rem 0.6rem;
    }

    .login-container h4 {
        font-size: 1rem;
    }
}

.login_main_container{
    width: 90%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 1rem 2rem;     
    min-height: 70vh;
}